<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>welcome</title>
<link rel="stylesheet" href="style.css">

</head>
<style>
body
{
	background: #356;
	margin:0px;
}
ol
{
	list-style: none;
	margin:0px;
	
}
ol li{
	display: inline-block;
	padding:10px;
	
	
}
.abdalla
{

margin:0px;
background:#356;
text-align: center;
font-size: 36px;

}
a
{
	padding:50px;
}
ol li input 
{
	padding:30px;
	font-size: 36px;
	font-family: cursive;
	background: gray;
	border-radius:20px;

}


</style>
<body>

<div class="abdalla"> 
<ol>
	<li> <a href="/addproduct"><input type="button" value="AddProduct" /> </a></li>
	<li> <a href="/AddBrand"><input type="button" value="AddBrand" /> </a></li>

</ol>

</div>
 
</body>
</html>